<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spelföretag</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <% companies.forEach(company => { %>
    <div class="company">
      Name: <%= company.name %><br>
      Country: <%= company.country %><br>
      <a href="/games/<%= company.id %>">Visa spel</a>
    </div>
  <% }); %>
  <form action="/search" method="post">
    <input name="search" type="text">
    <button>Sök</button>
  </form>
  
</body>
</html>